@font-face {
    font-family: Thicker;
    src: url(./fontes/thicker_black/Thicker-Black.ttf)
}
*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
:root{
    --primaria: white;
    --secundaria: #1507b4;
    --terciaria: #e82dd6;
    --quaternaria: #f7f85e;
    --destaquea: #52cbf6;
    --texto: #37373b;
}
body{
    background-color: var(--primaria);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
/* menu nav */
nav ul{
    display: flex;
    justify-content: left;
    list-style:none;
    padding-left: 50px;
}
nav ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: var(--primaria);
    display: block;
    margin: auto;
    transition: 0.5s;
    margin-top: 7px;
}
nav ul li:hover::after{
    width: 100%;
}
nav ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    color: var(--primaria);
    width: 100%;
    padding: 10px 30px 10px 30px;
}
nav{
    padding: 20px; 
}
/* header background */
div.header{
    width: 100%;
    height: 130vh;
    left: 0px;
    top: 0px;
    background: radial-gradient(133.18% 133.45% at 76.98% 104.09%, #E82DD6 0%, #1507B4 100%);
    mix-blend-mode: normal;
}
header{
    margin-top: 30vh;
    margin-bottom: 25vh;
    justify-content: center;
    text-align: center;
}
/* titulo */
img#logo{
    width: 41.5vw;
}
h2#subtitulo{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 3.17vh;
    color: var(--primaria);
}
img#play{
    width: 12.5vh;
    padding-top: 10vh; 
}
/* focos do evento */
div.foco{
    display: flex;
    justify-content: space-evenly;
}
div.icone{
    width: 188px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}
img.foco{
    width: 3.5vw;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
    padding: 1.5vw;
    margin-bottom: 20px;
}
h2.foco{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--primaria);
}
/* local e data */
div.info{
    display: flex;
    background-color: var(--quaternaria);
    justify-content: center;
    align-items: center;
    text-align: center;
}
h3#data{
    color: var(--terciaria);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 15px 20px 10px;
}
h3#local{
    color: var(--terciaria);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 10px 20px 15px;
}
/* dias */
section#dias{
    background-color: #f5f5f5;
    padding-inline: 15%;
    padding-top: 7vh;
    padding-bottom: 9vh;
}
section#dias h1{
    font-family: Thicker;
    color: var(--terciaria);
    text-transform: uppercase;
    font-size:50px;
    padding-bottom: 35px;
}
/* carrossel - dias */
div#carrossel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
div.dias{
    background-color: var(--primaria);
    height: 70vh;
    width: 60vw;
    display: flex;
}
div.dias div{
    width: 30vw;
}
img.arrow{
    width: 5%;
    opacity:0.7;
    cursor: pointer;
}
img#arrowleft{
    transform:scaleX(-1);
}
img.arrow:hover{
    opacity:1;
}
/* article */
div.imgdia{
    background-image: url("./imgs/20220919-img_2588.jpg");
    background-position: 65%;
    background-size: 110vh;
}
div.dia {
    padding: 40px;
}
article{
    overflow: auto;
    height: 55vh;
}
div.dia h2{
    margin-bottom: 30px;
    color: var(--texto);
}
div.dia h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 7px;
    padding-top: 10px;
    color: var(--texto);
}
div.dia p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    color: var(--texto);
}
/* galeria */
section#galeria{
    background-color: var(--primaria);
    padding-inline: 15%;
    padding-top: 7vh;
    padding-bottom: 11vh;
}
section#galeria h1{
    font-family: Thicker;
    color: var(--terciaria);
    text-transform: uppercase;
    font-size:50px;
    padding-bottom: 35px;
}
div.fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-inline: 7vw;
    grid-gap: 3%;
}
div.imggaleria{
    width: 17vw;
    height: 17vw;
    background-color: gray;
    margin: 2px;
}
/* fotos */
div#imgga{
    background-image: url("./imgs/galeria/Untitled-1.png");
    background-size: 17vw;
    background-position: 50%;
}
div#imggb{
    background-image: url("./imgs/galeria/IMG-20220919-WA0105.jpg");
    background-size: 20vw;
    background-position-x: 50%;
    background-position-y: 80%;
}
div#imggc{
    background-image: url("./imgs/galeria/20220920_092959.jpg");
    background-size: 20vw;
    background-position-x: 50%;
    background-position-y: 50%;
}
div#imggd{
    background-image: url("./imgs/galeria/IMG-20220919-WA0109.jpg");
    background-size: 20vw;
    background-position-x: 50%;
    background-position-y: 80%;
}
div#imgge{
    background-image: url("./imgs/galeria/Untitled-2.png");
    background-size: 20vw;
    background-position-x: 50%;
    background-position-y: 50%;
}
div#imggf{
    background-image: url("./imgs/galeria/IMG-20220922-WA0007.jpg");
    background-size: 20vw;
    background-position-x: 50%;
    background-position-y: 80%;
}
div#imggg{
    background-image: url("./imgs/galeria/20220920_094154.jpg");
    background-size: 20vw;
    background-position-x: 50%;
    background-position-y: 50%;
}
div#imggh{
    background-image: url("./imgs/galeria/IMG-20220922-WA0010.jpg");
    background-size: 20vw;
    background-position-x: 50%;
    background-position-y: 80%;
}
div#imggi{
    background-image: url("./imgs/galeria/IMG-20220922-WA0012.jpg");
    background-size: 20vw;
    background-position-x: 50%;
    background-position-y: 80%;
}
/* footer */
footer{
    display:flex;
    background-color: var(--secundaria);
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer h3{
    font-family: 'Montserrat', sans-serif;
    color: var(--quaternaria);
    font-weight: 500;
    font-size: 12px;
    padding: 10px 5px 10px 5px;
}
footer h3 a{
    color: var(--quaternaria);
    font-weight: 500;
}
footer h3 a:hover{
    color: var(--terciaria);
}